<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--Sql Mapper 설정-->
    <typeAliases>
    	<typeAlias alias="movie" type="com.main.cinema.main.dao.MovieVO"/>
    
    	<typeAlias alias="user" type="com.main.cinema.user.dao.UserVO"/>
    </typeAliases>
    <environments default="development">
    <environment id="development">
    <transactionManager type="JDBC"/>
    <dataSource type="POOLED">
    <property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
     <property name="url" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:xe"/>
    <property name="username" value="hhjlf"/>
    <property name="password" value="asd3576"/>
    </dataSource>
    </environment>
    </environments>
    <mappers>
        <!--위치값을 줄때 루트 폴터는 resources 폴더이다.-->
        <mapper resource="myBatis/movie.xml"></mapper>
        <mapper resource="myBatis/user.xml"></mapper>
    </mappers>
</configuration>